.container_full_size:before, .container_full_size:after {
  content: "";
  display: table;
  clear: both;
}

.container_full_size {
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  .header_sector {
    display: inline-block;
    width: 100%;
    padding: 12px 0 6px;

    .logo {
      img {
        height: 80px;
      }
    }
    span.simple_text {
      font-size: 24px;
      color: #44963a;
      font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
      font-style: italic;
      padding: 35px 0 15px;
      display: inline-block;

    }
    .info {
      display: inline-block;
      width: 100%;
      text-align: right;
      .telephone_number {
        display: inline-block;
        width: 100%;
        padding: 5px 0 10px;
        font-size: 14px;
        span {
          font-size: 20px;
          color: #439539;
          display: inline-block;
          padding-right: 5px;
          margin-top: -3px;

        }
      }
      .social {
        display: inline-block;
        padding-bottom: 10px;

        i {
          font-size: 12px;
          padding-left: 2px;
        }
        a, a:hover {
          color: #000;
          text-decoration: none;
        }
      }
      .lang {
        display: inline-block;
        width: 100%;
        span.login {
          float: left;
          height: 22px;
          padding-top: 4px;
          a {
            color: #e5322c;
            font-family: PT_sans;
          }
        }
        #language_switcher {
          display: inline-block;
        }

        #lang_sel {
          height: 22px;
          text-align: left;
          li {
            width: 112px;
            height: 22px;
            position: relative;
            z-index: 999;

          }
        }
        #lang_sel a.lang_sel_sel, #lang_sel a.lang_sel_sel:visited {
          background: #c3c3c2;
        }

      }

    }
  }

  a.navbar-brand {
    display: none !important;
    margin-left: -80px !important;
    margin-top: -5px;
    display: inline-block;
    position: absolute;
  }
  @media (max-width: 1100px) {
    a.navbar-brand {
      display: none !important;
    }
  }

  .is-sticky {
    a.navbar-brand {
      display: block !important;
    }
  }
}

nav.navbar.navbar-default {
  background: rgba(0, 82, 173, 0.56);
  border: 0;
  margin: 0;
  min-height: 56px;
  height: 56px;
  position: relative;
  z-index: 1;
  border-radius: 0;
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background: #439539;
    color: #fff;
  }
  .navbar-nav a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: PT_sans;
    width: 100%;
    display: block;
  }
  .navbar-nav > li > a {
    padding: 21px 12px;
  }
  .navbar-collapse {
    height: 56px !important;
    display: inline-block !important;
    padding: 0 !important
  }
  .search-form_header {
    display: inline-block;
    width: 20%;
    float: right;
    margin-right: 2%;
    form {
      text-align: right;
      padding-right: 5px;
      .input-group.clearfix {
        input {
          width: 200px !important;
          background: #b4c1d1;
          border-radius: 0;
          border: 1px solid #fff;
          height: 31px;
        }
      }
      button.btn-transparent {
        display: inline-block;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        background: transparent;
        height: 31px;
        margin-left: -50px;
        position: relative;
        z-index: 13;
      }

    }
  }
}

// !Transition
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.navbar.navbar-default.is-sticky {
  background: rgb(4, 40, 80);

  @include transition(background .3s ease-in-out);

}

.slider a.link_image img {
  height: 606px !important;
}

.padding_between:before, .padding_between:after {
  content: "";
  display: block;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 90%);
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  bottom: 30px;
  margin-top: -8px;
  margin-bottom: 4px;
}

.padding_between:after {
  margin-bottom: -9px;
  margin-top: 6px;
}

.padding_between:hover:before, .padding_between:focus:before, .padding_between:active:before, .padding_between:hover:after, .padding_between:focus:after, .padding_between:active:after {
  opacity: 1;
}

li.open > a {
  background-color: #439539 !important;
}

.navbar-nav > li ul {
  background: #439539;
  padding: 0;
  li {
    border-bottom: 1px solid #0C3607;
    padding: 0;
    a {
      padding: 5px 10px;
    }
    a:hover {
      background: #000;
    }
  }
}

div#mega-menu-wrap-primary {
  font-family: OpenSans;
  background: transparent;
  float: left;
  #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    line-height: 12px !important;
    height: 56px !important;
  }
  .mega-current-page-ancestor > a {
    background: #439539 !important;
  }
  .mega-current_page_item > a {
    background: #127B06 !important;
  }

  .widget_text {
    h4.mega-block-title {
      background: #053264;
      font-size: 25px !important;
      padding: 10px !important;
      text-align: center;
    }
    h4.mega-block-title:after {
      content: "";
      display: block;
      float: left;
      width: 100px;
      height: 1px;
      position: absolute;
      background: black;
      top: 35%;
      left: 30%;
      z-index: 99;
    }
    .textwidget {
      background: #053264 !important;
      padding: 10px !important;
    }
  }

  .menu li.menu-item-has-children ul li a {
    font-size: 12px !important;
    display: block !important;
    width: 100% !important;
  }

  .menu li.menu-item-has-children ul li a:before {
    content: "+";
    display: inline-block !important;
    font-size: 12px;
  }

  .menu > li > a:before {
    content: "";
    display: block !important;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #F0F0F0;
    float: left;
    margin-left: -11px;
    margin-top: 6px;
    float: left;
  }
  /* .menu li.menu-item-has-children ul li  a:before{
     display: none!important;
   }*/

}

div#mega-menu-wrap-primary .menu li ul {
  display: block !important;
  overflow: visible !important;
  height: 100% !important;
}

ul.mega-sub-menu {
  padding: 0px 15px 0 30px !important;
}

#navbar-sticky-wrapper button.navbar-toggle {
  margin-left: 24px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
  padding: 15px 15px 15px 3px
}

.navbar-header.is-sticky {
  background: #fff;
}

.is-sticky {
  position: fixed !important;
  top: 0;
  z-index: 9999999 !important;
  width: 100%;
}

ul.nav li:hover ul.sub-menu {
  display: block;
  position: absolute;
  min-width: 250px;
}

ul.nav ul.sub-menu {
  display: none;
  min-width: 250px;

}


.under_header_color {
  display: block;
  width: 100%;

  .box_1, .box_2, .box_3, .box_4 {
    width: 25%;
    float: left;
    margin-right: 0;
    height: 11px;
  }

  .box_1 {
    background: #059fdf;
  }
  .box_2 {
    background: #ffbd35;
  }
  .box_3 {
    background: #3c7e74;
  }
  .box_4 {
    background: #b0c039;
  }

}





